html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "InterBold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "InterBlack";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"),
    url("../fonts/Inter-Black.woff") format("woff");
}

@font-face {
  font-family: "InterThin";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Inter-Thin.woff2") format("woff2"),
    url("../fonts/Inter-Thin.woff") format("woff");
}

@font-face {
  font-family: "InterLight";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"),
    url("../fonts/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "InterMedium";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
}